# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
env/
venv/
ENV/
env.bak/
venv.bak/

# Django stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Migrations (generadas desde cero por cada proyecto)
**/migrations/0*.py
**/migrations/0*.pyc
!**/migrations/__init__.py

# Environment variables
.env
.env.*
!.env.example

# IDEs
.vscode/
.idea/
*.swp
*.swo
